In [57]:
# List of high schools section 4.3.4 "PRACTICE USING JUPYTEER NOTEBOOK"
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

#SKILL DRILL ITERATE THE LIST OF HIGH SCHOOLS PRINT OUT EACH
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [1]:
# A dictionary of high schools and the type of school. secton 4.3.4
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
 
print (f"{high_school_types}\n")

print(*high_school_types,sep="\n")

[{'High School': 'Griffin', 'Type': 'District'}, {'High School': 'Figueroa', 'Type': 'District'}, {'High School': 'Wilson', 'Type': 'Charter'}, {'High School': 'Wright', 'Type': 'Charter'}]

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [59]:
#4.3.5 Overview of Pandas Library
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [60]:
# Add the Pandas dependency. And give it an alias of "pd"
import pandas as pd

In [61]:
# Create a Pandas Series from a list. Create Pandas Series for the list of high schools we called "high_schools"
#we assign the variable "school_series" to Panda series using pd.Series() using the alias"pd"
school_series = pd.Series(high_schools)

#the previous command has no direct output so we have to use the following command to visual output
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [62]:
#Each column in an Excel file is a Series or List in "Panda Dataframe example A, B, C column would be its own series"
#Converting a List of Dictionaries to Panda DataFrame Secton 4.3..5

# A dictionary of high schools "high_school_dicts" is the dictionary. School ID is column A, school_name is column B, type is column C
#Column headers are the keys, the values are the rows
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [63]:
#Convert the dictionaries to a DataFrame "school_df" is the name of the dataframe, varible school_df = pd alais .dataframe(name of dictionaries or list)
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [64]:
#Covert a list of Series to a DataFrame section 4.3.5

# Three separate lists of information on high schools "school_id", "school_name", "type_of_school" are the 3 list separate lists
school_id = [0, 1, 2, 3, 4]
school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]
type_of_school = ["District", "District", "Charter", "District","Charter"]

In [65]:
# Initialize a new DataFrame. This is initializing an empty DATAFRAME
schools_df = pd.DataFrame()

#Now we will add each list to the empty schools_df DataFrame by typing the column name in quotes within brackets, like we do when we create a key for a dictionary.
#showing first list "school_id"
schools_df["School ID"] = school_id

# Print the DataFrame.
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [66]:
#Skill Drill Add the school_name list as "School Name" and the type_of_school list as "Type" to the schools_df DataFrame. Then print out the schools_df DataFrame.
#Now we need to add list 2 & 3 which are "school_name" and "type_of_school"
#so we set the names in the brackets and = them to the offical list names In[64]
#after adding these two line our dataframe will have 3 total list in it. 
schools_df["School Name"]= school_name

schools_df["type"]= type_of_school

schools_df

   School ID            School Name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [70]:
#Using Columns, Indexs, and Values to access the "school_df"
#to get the column names (across the top) df.columns, 
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [69]:
#AS AN ALTERNET WE CAN CREATE THE DATAFRAME BY USING PYTHON DICTIONARY SAME PAGE 4.3.5
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

#Skill Drill Covert the dictionary "high_schools_dict" to a DataFrame. 
#I am not sure why its (high_schools_dict) and NOT (high_schools_dicts) from line [62]
pd.DataFrame.from_dict(high_schools_dict)

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [71]:
#to get the index name (along the side 0 - ~)
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [72]:
#to get the value or the row, ie the DATA
#looking at the output the entire line left to right the value school id, school name and type. 
#In this example dont confuss index with school id they just happen to match this time. 
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [73]:
#example of usng dictionaries items
pd.DataFrame(high_schools_dict.items(), columns=['school_name', 'typle'])

#Skill Drill Based on the following image, create a list for each column and add each list to a new Pandas DataFrame.

   school_name                                              typle
0    School ID                                    [0, 1, 2, 3, 4]
1  school_name  [Huang High School, Figueroa High School, Shel...
2         type   [District, District, Charter, District, Charter]

In [75]:
#Skill Drill Based on the following image, create a list for each column and add each list to a new Pandas DataFrame.
#So first we are going to create a list for each column "heading" school_id, school_name, type_of_school

#looking at the picture at the bottom of the page Skill drills. We using school id column "A" with 0 - 14 not to be confussed with index. This is first list statment
school_id = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]

#next list statement using school_name, Column B. We have to use ["", ""] to enter our school names
school_name = ["Huang High School","Figueroa High School","Shelton High School","Hernandez High School","Griffin High School","Wilson High School","Cabrera High School","Bailey High School","Holden High School","Pena High School","Wright High School","Rodriguez High School","Johnson High School","Ford High School","Thomas High School"]

#our last list is using type from Columm "C"
type_of_school = ["District","District","Charter","District","Charter","Charter","Charter","District","Charter","Charter","Charter","District","District","District","Charter"]

#set our dataframe name varible
school_df=pd.DataFrame()

#now we put our 3 list "columns with data in our dataframe"

#in the dataframe we create the header "School Id" and use the list school_id for data
school_df["School_Id"]=school_id

#the next section in the dataframe is "School_Name" and we use the list school_name
school_df["School_Name"]=school_name

#the last section in the dataframe is "Type" and we use the list type_of_school
school_df["Type"]=type_of_school

#this print the information formatted
school_df

    School_Id            School_Name      Type
0           0      Huang High School  District
1           1   Figueroa High School  District
2           2    Shelton High School   Charter
3           3  Hernandez High School  District
4           4    Griffin High School   Charter
5           5     Wilson High School   Charter
6           6    Cabrera High School   Charter
7           7     Bailey High School  District
8           8     Holden High School   Charter
9           9       Pena High School   Charter
10         10     Wright High School   Charter
11         11  Rodriguez High School  District
12         12    Johnson High School  District
13         13       Ford High School  District
14         14     Thomas High School   Charter