In [13]:
# Add the Pandas dependency.
import pandas as pd

In [14]:
# Files to load
school_data_to_load = "Resources/schools_complete.csv"

student_data_to_load = "Resources/students_complete.csv"

# Read the school data file and store it in a Pandas DataFrame. Section 4.4.3
# This code will allow us to read "schools_complete.csv" the read_csv() replaces teh pd.DataFrame()
# The read_csv() makes it easier for us by converting the CSV file to a DataFrame.
# Example school_data_df is the varible, pd.read_csv() command using "school_data_to_load" via csv
# SCHOOL DATA CSV
school_data_df = pd.read_csv(school_data_to_load)

#We'll merge school_data_df and student_data_dfon a shared column using the merge() method. 
#The column that these DataFrames have in common is school_name. 
#Inside the parentheses of the merge() method, we'll do the following:

#1. Add the DataFrames to be merged.
#2. Add the shared column to each DataFrame so that the merge can occur.
#3. Define how the DataFrames should be merged: left, right, inner, or outer. The default is inner. 

# Combine the data into a single dataset.
# head() returns the top 5 rows
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
#school_data_complete_df.head()

#We create a new DataFrame for the merged DataFrames, called school_data_complete_df.
#The new DataFrame is created as a result of merging DataFrame #2 (school_data_df), which is the "right" DataFrame, 
#into DataFrame #1 (student_data_df), which is the "left" DataFrame.
#We refer to the DataFrames as "left" and "right" to reflect the order they appear inside the parentheses.
#We use the parameter "on," which is equal to a list of the columns that are identical from each DataFrame, 
#in this case, "school_name." We can also use the column name like this: on="school_name".

#STUDENT DATA
# Read the student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)

# Cleaning Student Names and Replacing Substrings in a Python String
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

# Check names.
student_data_df

NameError: name 'student_data_df' is not defined

In [12]:
# Install numpy using conda install numpy or pip install numpy. 
# Step 1. Import numpy as np.
import numpy as np

In [10]:
# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th grade at Thomas High School and replace them with NaN.
student_data_readsc=student_data_df.loc[((student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"] == "9th"))]

student_data_readsc

NameError: name 'student_data_df' is not defined

In [ ]:
#  Step 3. Refactor the code in Step 2 to replace the math scores with NaN.
student_data_df.loc[((student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"] == "9th")),"math_score"]= np.nan
student_data_df

In [ ]:
#  Step 4. Check the student data for NaN's.

In [ ]:
#the count() method to the school_data_complete_df DataFrame, 
#we will count all the items in each row for each column that is not null. 

# Get the total number of students.
student_count = school_data_complete_df.count()
student_count

In [ ]:
#In the output, we see that each column has 39,170 rows, or values. 
#Therefore, we can choose any one of the columns and get the student count using the following format:

#school_data_complete_df[column].count()
#To assign the "student_count" to a column that identifies with students, we will use the "Student ID" column.

school_data_complete_df["Student ID"].count()
#must use single or double quotation marks

In [ ]:
#SECTION 4.7.3 GET THE NUMBER OF SCHOOLS

In [ ]:
#There are two ways we can get the number of schools. 

#FIRST WAY One is to use the school_data_df DataFrame and assign a variable to one of the columns in the DataFrame

# Calculate the total number of schools.
school_count = school_data_df["school_name"].count()
school_count

In [ ]:
#SECOND WAY 
# Calculate the total number of schools
school_count_2 = school_data_complete_df["school_name"].unique()
school_count_2
#We have to use .unique() if just use the count() it would count each school for total of 39170

In [ ]:
len(school_data_complete_df["school_name"].unique())
#we can use the len chain with .unique to get the count from the list / array

In [ ]:
#SECTION 4.7.4 Get the Total Budget

# Calculate the total budget.
total_budget = school_data_df["budget"].sum()
total_budget

#we are using this on the orginal "school_data_df" and NOT the merge "school_data_complete_df"

In [ ]:
#The total budget of the schools in the district is $24,649,428. Your output should match the sum of E3:E16 in the schools_complete.csv file. 
#This is a good way to check that our answer matches the CSV file.

In [ ]:
#SECTION 4.7.5 GET THE SCORE AVERAGES
#THE INSTRUCTION SAY TO USE "STUDENT_DATA.CSV" but we only have "students_complete.csv"
#The Pandas method for getting the average of columns is the mean() method.

# Calculate the average reading score.
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

In [ ]:
# Calculate the average math score.
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

In [ ]:
#SECTION 4.7.6 GET THE PASSING PERCENTAGES

#To get the percentage of students who passed math and reading, we will write code to:

#Determine the passing grade.
#Get the number of students who passed math and reading in separate DataFrames.
#Calculate the number of students who passed math and reading.
#Calculate the percentage of students who passed math and reading.
#To get the overall passing percentage, we will write code to:

#Get the number of students who passed both math and reading in a DataFrame.
#Calculate the number of students who passed both math and reading.
#Calculate the percentage of students who passed both math and reading.

# PASSING IS 70, we will assign a varible "passing_math" iterate against "school_data_complete_df" for "math scores"
#greater than or = to 70


passing_math = school_data_complete_df["math_score"] >= 70
passing_math

#True mean teh score is equal to or greater than 70, False not greater or equal to 70

In [ ]:
#To get only the students that pass math, we will filter only "True"
# Get all the students who are passing math in a new DataFrame.
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math.head()

In [ ]:
#Passing_reading code
# Get all the students that are passing reading in a new DataFrame.
#this is filtering for only the trues
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
passing_reading.head()

In [ ]:
# Now that you have found all the students who have passed math and reading, 
#you need to get the number of students who passed each subject. 

passing_math["student_name"].count()

In [ ]:

passing_reading["student_name"].count()

In [ ]:
#we can run count() this way also
# Calculate the number of students passing math.
passing_math_count = passing_math["student_name"].count()

# Calculate the number of students passing reading.
passing_reading_count = passing_reading["student_name"].count()

In [ ]:
#notice we are using the new varible names
print(passing_math_count)
print(passing_reading_count)

In [ ]:
#Get the Percentage of Students Who Passed Math and Reading
#To get the percentage of students who passed math and reading, divide the passing_math_count and the passing_reading_count 
#by the total number of students,then multiply by 100.



#Recall that the student count was calculated using this code: school_data_complete_df["Student ID"].count()
#we create the varible student_count

student_count = school_data_complete_df["Student ID"].count()
student_count

In [ ]:
#Since we are calculating a percentage, 
#we need to convert the student_count to a number with a decimal, or floating-point decimal, by using float().

# Calculate the percent that passed math.
passing_math_percentage = passing_math_count / float(student_count) * 100

# Calculate the percent that passed reading.
passing_reading_percentage = passing_reading_count / float(student_count) * 100

In [ ]:
print(passing_math_percentage)
print(passing_reading_percentage)

In [ ]:
#NOW we need to calculate the percentage of students who passed both math and reading. 

#To get the overall passing percentage, 
#we need to get all the students who passed both math and reading and divide by the total number of students.

# filter the school_data_complete_df DataFrame by adding the school_data_complete_df["math_score"] >= 70 
#and school_data_complete_df["reading_score"] >= 70 
#with the logical operator "&" within brackets, like this

# Calculate the students who passed both math and reading.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

passing_math_reading.head()

In [ ]:
#to get the total number of students that passed reading and math we can use either command

#passing_math_reading["student_name"].count()
#passing_math_reading.student_name.count()
# I tried both command and they both worked
# Calculate the number of students who passed both math and reading.
#creating varible overall_passing_math_reading_count, iterating passing_math_reading for "student_name" then counting
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_math_reading_count

In [ ]:
#Finally, we calculate the percentage of students who passed both math and reading 
#by dividing the total number of students and multiplying by 100, using the following code.

# Calculate the overall passing percentage.
overall_passing_percentage = overall_passing_math_reading_count / student_count * 100
overall_passing_percentage

In [ ]:
#SECTION 4.7.7 CREATE A DISTRICT SUMMARY DATAFRAME

#WE WILL BE ADDING ALL THE DATA OF SUMMARIES TO NEW DATAFRAME
# we have them and caculation, we just need to add them to the new dataframe
#district_summary_df

#Total number of schools in the column "Total Schools"
#Total number of students in the column "Total Students"
#Total budget in the column "Total Budget"
#Average reading score in the column "Average Reading Score"
#Average math score in the column "Average Math Score"
#Percentage of students passing reading in the column "% Passing Reading"
#Percentage of students passing math in the column "% Passing Math"
#Overall passing percentage in the column "% Overall Passing"

#To create district_summary_df DataFrame, we can create a list of dictionaries, 
#where the keys are column names and the values are the metrics we calculated. 
#We do this because the DataFrame has no index, and lists have natural indexing.

#This is tricky because we are using the "column heading as the key but the sum or average of the column for the value"

In [ ]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df
#your print out will only be one ROW across

In [ ]:
#Chaining the map() and format() Functions
#Section 4.7.8 also they had us jump back to this file. Other example is function.ipy file
#The book is going to tell you to use the "pycityschools.ipy" file , you only have the 
#dictrict_summary_df on this file. maybe this file was supposed to merged with the other. 

#format the dollar amounts in the district_summary_df columns to two decimal places with a U.S. dollar sign, 
#and numbers larger than 999 with a thousands separator.

#df["column"] = df["column"].map("{:,}".format)
#Now let's replace df["column"] with district_summary_df["Total Students"]

# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

In [ ]:
# next example is formatting the total budget column

#DataFrame with a U.S. dollar sign, and then format the numbers with a thousands separator 
#and to two decimal places using the following syntax: "${:,.2f}".format.

# Format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$".

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Total Budget"]

In [ ]:
#The "Average Reading Score" column will be formatted to one decimal place.
#The "Average Math Score" column will be formatted to one decimal place.
#The "% Passing Reading" column will be formatted to the nearest whole number percentage.
#The "% Passing Math" column will be formatted to the nearest whole number percentage
#The "% Overall Passing" column will be formatted to the nearest whole number percentage.
# Format the columns.
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

#to display the entire dataframe
district_summary_df

In [ ]:
#Section 4.7.9 Reorder Columns
#MY COLUMNS ARE IN ORDER. THE FOLLOWING IS HOW TO CHANGE THE ORDER IF NEEDED. 

# Reorder the columns in the order you want them to appear.
#new_column_order = ["column2", "column4", "column1"]

# Assign a new or the same DataFrame the new column order.
#df = df[new_column_order]

#This technique can also be used to filter out columns that you don't need 
#and select the columns in the order that you want. 
#For example, we didn't include column3 in the new order; this is how we can filter out columns we don't want.

# Reorder the columns in the order you want them to appear.
#new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
#district_summary_df = district_summary_df[new_column_order]
#district_summary_df

#AGAIN MY "district_summary_df" was already in the requested order so no change.

In [ ]:
#Section 4.8.1 Set the Index to School Name
#This next project requires you to get the following key metrics for each school 
#and place them in a school summary DataFrame.
# "school_name" is now the index for this DataFrame
#can use the data from the school_data_df DataFrame because the  "school_name" and "type" columns are both Series:

school_data_df

In [ ]:
#take these Series and use one as the index and the other as the first column.
#looking at the info above we are using "school name and as index and type colum as the first column"
#this match image in the picture

# Determine the school type.
per_school_types = school_data_df.set_index(["school_name"])["type"]
per_school_types
#below is correct

In [ ]:
#create a new DataFrame by converting this Series to a DataFrame as follows:

# Add the per_school_types into a DataFrame for testing.
#the dataframe now is "df" not sure why they decided to just use df verses call out name
df = pd.DataFrame(per_school_types)
df

In [ ]:
#4.8.2 Get the Student Count Per School

#Next to the "type" of school column, Maria wants you to add the total number of students in each school.
#you have the number of students in two DataFrames: school_data_df and school_data_complete_df. 
#You'll need to get the number of students from both DataFrames and find which one has "school_name" as the index.

school_data_df
#Looking at the school_data_df DataFrame, we can see the student count is in the "size" column.

In [ ]:
#Now let's get the student count in the school_data_df DataFrame.
# Calculate the total student count.
per_school_counts = school_data_df["size"]
per_school_counts

In [ ]:
#Unfortunately, this Series doesn't have an index with "school_name." 
#Therefore, we can't use the "size" column from school_data_df to get the count of the student population.

#To fix this, we can use the set_index() method on the "school_name" column, 
#and then select the "size" column to display the student count for each school.

# Calculate the total student count.
per_school_counts = school_data_df.set_index(["school_name"])["size"]
per_school_counts

In [ ]:
#To get the number of students from the school_data_complete_df DataFrame, 
#we can count the number of times a high school appears using value_counts() on the "school_name" column.
#The value_counts() method will return a Series of data with the number of times each school_name appears in a row. 

#To get the total student count per high school, 
# Calculate the total student count.
per_school_counts = school_data_complete_df["school_name"].value_counts()
per_school_counts

In [ ]:
# Now we have two methods to get the student count. 
#As long as we make sure the index is the "school_name" column, we can use either method.

In [ ]:
#Section 4.8.3 Get teh Budget Per Student

#Next to the Total Students column, Maria wants you to add the budget per student for each school.
#First you'll[ need to get the budget for each school and then divide by the total students per school, 
#which you already calculated as per_school_counts.

# find the budget per student for each school, 
#we [need to divide the budget for each school by the number of students at each school.

#look at the school_data_df DataFrame. The budget for each school is listed in the budget column.

#so we set the index off of school_name and pulled the budget
# Calculate the total school budget.
per_school_budget = school_data_df.set_index(["school_name"])["budget"]
per_school_budget

In [ ]:
#The data type for the budget column is int64, 
#which is suitable for calculations that we need to perform in order to find the budget per student.

#To get the budget per student, we'll divide the per_school_budget by the per_school_counts.

# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts
per_school_capita

In [ ]:
#Section 4.8.4 Get the Score Averages Per School 

#Now you need to calculate the average math score and the average reading score for each school.

#we are still using "school_name" as our index

#school_data_df.set_index(["school_name"])["budget"]

# Calculate the math scores.
student_school_math = student_data_df.set_index(["school_name"])["math_score"]
student_school_math

In [ ]:
#Unfortunately, we can't use the school_data_df DataFrame, as there aren't any columns containing grades. 
#We also can't use the set_index() method on the school_name column in student_data_df because there are 
#too many occurrences of the school_name column.

#we need to use the Pandas groupby() function. The groupby() function will split an object (like a DataFrame),
#apply a mathematical operation, and combine the results.

# Calculate the average math scores.
per_school_averages = school_data_complete_df.groupby(["school_name"]).mean()
per_school_averages

In [ ]:
#But we don't want all of this data in the school summary DataFrame, just the reading and math scores. 
#To get the average math score and reading score for each school, 
#we can add the math_score and reading_score columns at the end. 

# Calculate the average test scores.
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]

per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

#to read each just use the varible name
per_school_math

In [ ]:
#The per_school_reading results will have the same format, with the column being the average reading_score.
per_school_reading

In [ ]:
#Section 4.8.5 Get the Passing Percentages Per School
#calculating the passing percentages for math and reading for each school, 
#as well as get the overall passing percentage for each school.

 # To get the passing percentages, we need to:
 # 1. Determine what is the passing grade.
 # 2. Get the number of students who passed math and reading.
 # 3. Get the students who passed math and passed reading

#We're in luck! We have already determined the passing grade as well as calculated the number of students 
#who passed math and reading.

In [ ]:
# Calculate the passing scores by creating a filtered DataFrame.
#using new varibles
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]

per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

In [ ]:
per_school_passing_math

In [ ]:
#To create a Series that has school_name as the index, we'll use groupby(["school_name"]) 
#on the per_school_passing_math and the per_school_passing_math DataFrames.

#perform a mathematical operation on the groupby() object. 
#Remember, we need to get the number of students who passed, so we'll use the count() 

# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]

per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]


per_school_passing_math

In [ ]:
per_school_passing_reading

In [ ]:
#Determine the Percentage of Students Passing Math and Reading
#determine the percentage of students passing math and reading, 
#we must divide per_school_passing_math and per_school_passing_reading by the per_school_counts, 
#and then multiply by 100

In [ ]:
# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100

per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

In [ ]:
per_school_passing_math
#the output will be a Series where the index is the school name 
#and the column is the percentage of students who passed math for each school.

In [ ]:
per_school_passing_reading

In [ ]:
#Get the Overall Passing Percentage for All Students for Each School
#To get the overall passing percentage, we need to get all the students who passed both math 
#and reading and then divide by the total number of students.

# Calculate the students who passed both math and reading.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

per_passing_math_reading.head()

In [ ]:
#Next, we'll get the total number of students from each school who passed both math and reading. 
#To do this, we need to set the index as school_name, and then we need to get the number of students.

#To get the total number of students who passed both math and reading on the per_passing_math_reading DataFrame, 
#we use the following code, which sets the index to school_name, and then use the count() method for the student_name.

# Calculate the number of students who passed both math and reading.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

In [ ]:
# Calculate the overall passing percentage.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

per_overall_passing_percentage

In [ ]:
#Section 4.8.6 Create the School Summary DataFrame 

#to see the school summary, as are other district officials. 
#You'll need to combine all the data you retrieved and calculated and put this data in a new DataFrame.
#new dataframe will be "per_school_summary_df"

In [ ]:
#these are all the different information we created that we will now but in as values on columns

# Adding a list of values with keys to create a new DataFrame.

per_school_summary_df = pd.DataFrame({
             "School Type": per_school_types,
             "Total Students": per_school_counts,
             "Total School Budget": per_school_budget,
             "Per Student Budget": per_school_capita,
             "Average Math Score": per_school_math,
           "Average Reading Score": per_school_reading,
           "% Passing Math": per_school_passing_math,
           "% Passing Reading": per_school_passing_reading,
           "% Overall Passing": per_overall_passing_percentage})
per_school_summary_df.head()

In [ ]:
#The columns are in the correct order, but we still need to apply formatting to the Total School Budget and Per Student Budget columns, 
#as well as apply a thousands separator to the Total Students column

In [ ]:
#Section 4.8.7 Clean up the DataFrame

#To format the Total School Budget and Per Student Budget columns, 
#add the following code to a new cell and run the cell.

# Format the Total School Budget and the Per Student Budget columns.
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)

per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)


# Display the data frame
per_school_summary_df.head()

In [ ]:
#Section 4.9.1 Find the Highest Performing School

#To display the top five highest-performing schools, 
#we can sort the per_school_summary_df DataFrame on the % Overall Passing column.

#sort_values() function, we can sort a DataFrame or Series for a given text, 
#index, or column that is passed within the parentheses. 
#In addition, we can add the parameter ascending=False to sort from highest to lowest, 
#or ascending=True to sort from lowest to highest the value referenced in the sort_values() function. 
#If we don't add the ascending parameter, the default is ascending=True.

#To sort the schools on the % Overall Passing column from highest to lowest, 
#add the following code and run the cell.

In [ ]:
# Sort and show top five schools. The ascedingn=False will sort highest to lowest
top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=False)

top_schools.head()

In [ ]:
#Secton 4.9.2 Find the Lowest Performing Schools

# Sort and show top five schools.
bottom_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=True)

bottom_schools.head()

In [ ]:
#Section 4.10.1 Create Grade_Level DataFrames

#get the average math and reading scores for each school. 
#But first, you will need to create DataFrames for each grade level.

#You are tasked with creating two new DataFrames: 
#one that will display the average math scores for each grade, 
#and the one that will display the average reading scores for each grade. 
#These will be grouped by the name of the school.

#In the final DataFrame, we need to have the index on the school name 
#and the average math or reading score for each grade: 9th, 10th, 11th, and 12th. 
#This is what the DataFrame for the average math scores should look like when we're done:

In [ ]:
#Let's first get the ninth graders in a Series. 
#Set the variable ninth_graders equal to 
#school_data_complete_df["grade"] == "9th". This will retrieve all rows where this statement is "True."

#Using the code school_data_complete_df["grade"] == "9th", 
#we can filter school_data_complete_df for the "True" cases as follows:

#school_data_complete_df[(school_data_complete_df["grade"] == "9th")]

#using the complete code we only have to change out the "9th" for the other grades like 12th

In [ ]:
# Create a grade level DataFrames.
ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]

tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]

eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]

twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]

In [ ]:
#example print using "night_graders"
ninth_graders

In [ ]:
#Section 4.10.2 Score Averages Grouped by School

#To get the average math and reading scores for each grade level and for each school, we need to do the following: 

#Use the groupby function to group by the school_name column
#Calculate the mean math_score and reading_score

In [ ]:
#First, we will get the average math score for each school. 
#For each grade level DataFrame, we will use the groupby() function on the school_name column 
#and apply the mean() on the math_score column.

#To get the math_score averages for each grade level, add the following code in a new cell and run the cell. 

# Group each school Series by the school name for the average math score.
ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]

tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]

eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]

twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

In [ ]:
#example using ninth_grade_math_scores
ninth_grade_math_scores

In [ ]:
eleventh_grade_math_scores

In [ ]:
#Get the Average REading Scores by School

# Group each school Series by the school name for the average reading score.
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]

tenth_grade_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]

eleventh_grade_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]

twelfth_grade_reading_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

In [ ]:
ninth_grade_reading_scores

In [ ]:
twelfth_grade_reading_scores

In [ ]:
#Section 4.10.3 Combine the Series into a DataFrame

#First, let's add the math scores for each grade level to a new DataFrame.

In [ ]:
# Combine each Series for average math scores by school into single DataFrame.
math_scores_by_grade = pd.DataFrame({
               "9th": ninth_grade_math_scores,
               "10th": tenth_grade_math_scores,
               "11th": eleventh_grade_math_scores,
               "12th": twelfth_grade_math_scores})

math_scores_by_grade.head()

In [ ]:
#same format to add the reading scores for each grade level to a new DataFrame

# Combine each Series for average reading scores by school into single DataFrame.
reading_scores_by_grade = pd.DataFrame({
              "9th": ninth_grade_reading_scores,
              "10th": tenth_grade_reading_scores,
              "11th": eleventh_grade_reading_scores,
              "12th": twelfth_grade_reading_scores})

reading_scores_by_grade.head()

In [ ]:
#Section 4.10.4 Format the Averages and remove the Index Name

#Maria would like you to format the reading and math averages to one decimal place 
#and removed the name of the index column.

In [ ]:
# Format each grade column. IF YOU CUT AND PASTE OUT THE BOOK THE INDENTS ARE WRONG. 
math_scores_by_grade["9th"] = math_scores_by_grade["9th"].map("{:.1f}".format)

math_scores_by_grade["10th"] = math_scores_by_grade["10th"].map("{:.1f}".format)

math_scores_by_grade["11th"] = math_scores_by_grade["11th"].map("{:.1f}".format)

math_scores_by_grade["12th"] = math_scores_by_grade["12th"].map("{:.1f}".format)

In [ ]:
# Make sure the columns are in the correct order.
math_scores_by_grade = math_scores_by_grade[["9th", "10th", "11th", "12th"]]

In [ ]:
# Remove the index name.
math_scores_by_grade.index.name = None
# Display the DataFrame.
math_scores_by_grade.head()

In [ ]:
#apply the same formatting method and remove the index name for the reading_scores_by_grade

In [ ]:
# Format each grade column.
reading_scores_by_grade["9th"] = reading_scores_by_grade["9th"].map("{:,.1f}".format)

reading_scores_by_grade["10th"] = reading_scores_by_grade["10th"].map("{:,.1f}".format)

reading_scores_by_grade["11th"] = reading_scores_by_grade["11th"].map("{:,.1f}".format)

reading_scores_by_grade["12th"] = reading_scores_by_grade["12th"].map("{:,.1f}".format)

In [ ]:
# Make sure the columns are in the correct order.
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]

In [ ]:
# Remove the index name. IF YOU CUT AND PASTE OUT THE BOOK THE INDENTS ARE WRONG. 
reading_scores_by_grade.index.name = None
# Display the data frame.
reading_scores_by_grade.head()

In [ ]:
#Section 4.11.1 Establish the Spending Ranges per Student

#how does school spending per student affect the school's average scores and passing percentages?

In [ ]:
#For this analysis, we will need to sort the school spending per student into four spending "bins," or ranges. 
#The four bins will be dollar amounts that range from the lowest amount ($578) 
#to the highest amount ($655) a school spends on a student.

#We determined the budget per student in the school summary when we retrieved the per_school_capita

In [ ]:
#Get the Spending Ranges
#Before we create the bins, we need to determine the distribution of spending per student. 
#We can find the distribution for school spending per student by using the describe() method.

#When we apply the describe() method to a DataFrame or Series, 
#it will return the following descriptive statistics for the DataFrame or Series:

#The number of rows in the DataFrame or Series as count
#The average of the rows as mean
#The standard deviation of the rows as std
#The minimum value of the rows as min
#The 25th percentile as 25%
#The 50th percentile as 50%
#The 75th percentile as 75%
#The minimum value of the rows as max

In [ ]:
# Get the descriptive statistics for the per_school_capita.
per_school_capita.describe()

In [ ]:
#As you can see, the minimum is 578 and the maximum is 655. The standard deviation is 28.5, or approximately 30.
#We don't want the lowest bin to be $578 because there is only one school at or below $578, 
#which is Wilson High School. 
#However, there are four schools that spend less than $585 per student, so $585 will be our lowest bin. 
#Also, because the standard deviation is about 30, we will increase the bins by $30, up to $675. 
#Therefore, the four bins will be: $585, $615, $645, and $675.

#The bins will define a range of spending. 
#For the $585 bin, the range is all values at or below $585, 
#the range for the $615 bin is $586–615, and so on. Here's what our bins look like: 
#spending_bins = [0, 585, 615, 645, 675]

# If we don't include the 0 for the spending bins, 
#the lowest bin becomes $585–614, which means that the schools that spend less than $585 are not considered

In [ ]:
#Group the Series on the Spending Ranges
#To group the spending ranges, we use the Pandas cut() function. 
#The cut() function segments and sorts data values into bins. 

# Cut the per_school_capita into the spending ranges.
spending_bins = [0, 585, 615, 645, 675]
pd.cut(per_school_capita, spending_bins)

In [ ]:
#If we don't use the 0 for the bottom limit
# Cut the per_school_capita into the spending ranges.
spending_bins = [585, 615, 645, 675]
pd.cut(per_school_capita, spending_bins)

In [ ]:
#Next, we'll determine how many schools are in each range by grouping 
#the spending bins as the index using the groupby()

# Cut the per_school_capita into the spending ranges.
spending_bins = [0, 585, 615, 645, 675]
per_school_capita.groupby(pd.cut(per_school_capita, spending_bins)).count()

In [ ]:
#Looking at this output, it seems that we didn't group the schools fairly. 
#We need to adjust our ranges so that we have three or four schools in each range. 
#Let's increase the [585, 615] range to [585, 630] and change the third range to [630, 645]. 
#The spending_bins will look like this: 

# Cut the per_school_capita into the spending ranges.
spending_bins = [0, 585, 630, 645, 675]
per_school_capita.groupby(pd.cut(per_school_capita, spending_bins)).count()

In [ ]:
#Now let's name each range. We can label the ranges using a list of string values.
# Establish the spending bins and group names.
spending_bins = [0, 585, 630, 645, 675]
group_names = ["<$584", "$585-629", "$630-644", "$645-675"]

In [ ]:
#Section 4.11.2 Categorize the Spending Bins

# grouping the schools' spending in the per_school_summary_df

In [ ]:
# Categorize spending based on the bins.
per_school_summary_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=group_names)

per_school_summary_df

#There's a lot going on in this code, so let's break it down.

#To the left of the equals sign, 
#we add a new column called "Spending Ranges (Per Student)"{style="font-size: 1rem;"} 
#to the per_school_summary_df DataFrame. This column will contain the values specified by using the cut() function.
#Inside the cut() function, we add the data (per_school_capita) 
#we are going to use for "Spending Ranges (Per Student)". 
#The data must be a one-dimensional array, like a list or the per_school_capitaSeries.
#Inside the parentheses, we add the spending_bins and the labels for the bins using labels=group_names.

In [ ]:
#Section 4.11.3 Group by the Spending Ranges
#Now she would like you get the average math and reading scores, the average percentage of students who passed math 
#and reading,and the average overall passing percentage

# Calculate averages for the desired columns.
spending_math_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]

spending_reading_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]

spending_passing_math = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]

spending_passing_reading = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]

overall_passing_spending = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [ ]:
#Section 4.11.4 Create a DataFrame for the Scores by School Spending
#creating a new dataframe to hold all the information 

#create a new DataFrame for the average math and reading scores, 
#average percentage of students who passed math and reading, and the average overall percentage of passing students.

In [ ]:
# Assemble into DataFrame.
spending_summary_df = pd.DataFrame({
          "Average Math Score" : spending_math_scores,
          "Average Reading Score": spending_reading_scores,
          "% Passing Math": spending_passing_math,
          "% Passing Reading": spending_passing_reading,
          "% Overall Passing": overall_passing_spending})

spending_summary_df

In [ ]:
#To format the spending_summary_df DataFrame, 
#add the following code to a new cell and run the cell:

# Formatting
spending_summary_df["Average Math Score"] = spending_summary_df["Average Math Score"].map("{:.1f}".format)

spending_summary_df["Average Reading Score"] = spending_summary_df["Average Reading Score"].map("{:.1f}".format)

spending_summary_df["% Passing Math"] = spending_summary_df["% Passing Math"].map("{:.0f}".format)

spending_summary_df["% Passing Reading"] = spending_summary_df["% Passing Reading"].map("{:.0f}".format)

spending_summary_df["% Overall Passing"] = spending_summary_df["% Overall Passing"].map("{:.0f}".format)

spending_summary_df

In [ ]:
#Section 4.12.1
#she now wants you to group the same averages and percentages by the school size.

# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
#Section 4.12.2 Categorize the Size Bins

#group the school sizes in the per_school_summary_dfDataFrame based on the bins.

# Categorize spending based on the bins.
per_school_summary_df["School Size"] = pd.cut(per_school_summary_df["Total Students"], size_bins, labels=group_names)

per_school_summary_df.head()

In [ ]:
#Section 4.12.3 Group by School Size
#calculate the following, based on the school sizes: average math and reading scores, 
#the average percentage of students who passed math and reading, and the average overall percentage.

# Calculate averages for the desired columns.
size_math_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Math Score"]

size_reading_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Reading Score"]

size_passing_math = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Math"]

size_passing_reading = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Reading"]

size_overall_passing = per_school_summary_df.groupby(["School Size"]).mean()["% Overall Passing"]

In [ ]:
#Secion 4.12.4 Create a DataFrame for the Scores by School Size

#add the average math and reading scores, the average percentage of students who passed math and reading, 
#and the average overall percentage to a new DataFrame.

# Assemble into DataFrame.
size_summary_df = pd.DataFrame({
          "Average Math Score" : size_math_scores,
          "Average Reading Score": size_reading_scores,
          "% Passing Math": size_passing_math,
          "% Passing Reading": size_passing_reading,
          "% Overall Passing": size_overall_passing})

size_summary_df

In [ ]:
#Format the DataFrame

# Formatting.
size_summary_df["Average Math Score"] = size_summary_df["Average Math Score"].map("{:.1f}".format)

size_summary_df["Average Reading Score"] = size_summary_df["Average Reading Score"].map("{:.1f}".format)

size_summary_df["% Passing Math"] = size_summary_df["% Passing Math"].map("{:.0f}".format)

size_summary_df["% Passing Reading"] = size_summary_df["% Passing Reading"].map("{:.0f}".format)

size_summary_df["% Overall Passing"] = size_summary_df["% Overall Passing"].map("{:.0f}".format)

In [ ]:
size_summary_df

In [ ]:
#4.13.! Group by School Type

# create a DataFrame that groups the same averages and percentages by the type of school, district and charter. 

# Calculate averages for the desired columns.
type_math_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Math Score"]

type_reading_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]

type_passing_math = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Math"]

type_passing_reading = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]

type_overall_passing = per_school_summary_df.groupby(["School Type"]).mean()["% Overall Passing"]

In [ ]:
#Section 4.13.2 Create a DataFrame for the Scores by School Type

#new dataframe type_summary_df

In [ ]:
# Assemble into DataFrame.
type_summary_df = pd.DataFrame({
          "Average Math Score" : type_math_scores,
          "Average Reading Score": type_reading_scores,
          "% Passing Math": type_passing_math,
          "% Passing Reading": type_passing_reading,
          "% Overall Passing": type_overall_passing})

type_summary_df

In [ ]:
#Formate the DataFrame

# Formatting
type_summary_df["Average Math Score"] = type_summary_df["Average Math Score"].map("{:.1f}".format)

type_summary_df["Average Reading Score"] = type_summary_df["Average Reading Score"].map("{:.1f}".format)

type_summary_df["% Passing Math"] = type_summary_df["% Passing Math"].map("{:.0f}".format)

type_summary_df["% Passing Reading"] = type_summary_df["% Passing Reading"].map("{:.0f}".format)

type_summary_df["% Overall Passing"] = type_summary_df["% Overall Passing"].map("{:.0f}".format)

type_summary_df